body {
    margin: 0px;
    padding: 0px;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(121, 10, 10);
    margin: 0px;
}

h1 {
    font-size: 260%;
    text-align: center;
    font-family: Bodoni MT Black, serif;
    text-shadow: 0px 0px 16px #a50303;
    color: white;
    margin: 0px;
}

.row {
    width: 100%;
}

.list-group {
    margin-top: 150px;
}

a.list-group-item {
    text-align: center;
}